<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}HearthStone{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel = "stylesheet" href = "{{ asset('css/mainBar.css') }}" />

    </head>
    <body style="background-image:url('{{ asset('images/bg4.jpg') }}'); background-repeat: repeat-y;">
        <div class="container">

            <div class="bar">
                <ol>
                    <li><a href="{{ path('homepage') }}">Strona Główna</a></li>
                    <li><a href="{{ path('blog') }}">Newsy</a></li>
                    <li><a href="{{ path('galery')}}">Karty</a> </li>
                    <li><a href="{{ path('decks') }}">Talie</a></li>
                    <li>
                        {% if app.user %}
                            <a href="#"> {{ app.user }} </a>
                        {% endif %}
                    </li>
                    <li>
                        {% if app.user %}

                            {% if is_granted('ROLE_ADMIN') %}

                                <a href="{{ path('admin') }}">Panel Admina</a>

                            {% endif %}

                        {% endif %}
                    </li>
                    <li>
                        {% if app.user %}
                            <a href="{{ path('fos_user_security_logout') }}"> Wyloguj</a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}"> Zaloguj się</a>
                        {% endif %}
                    </li>
                </ol>
            </div>

        </div>
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
