{% extends 'base.html.twig' %}

{% block body %}

<div class="text-center row ">
    <div class="col-md-3 col-md-push-2">
        <img src="{{ asset('images/N' ~ card.id ~ '.png') }}" />
    </div>

    <div class="col-md-3 col-md-push-2">
        <video width="300px" controls loop="loop" autoplay>

            <source src={{ asset('images/G'~card.id~'.ogv') }} type='video/ogg'/>


        </video>
    </div>

        <div class="col-md-2 white col-md-push-2">
            <h4>Nazwa: {{ card.name }}</h4>
            <h4>Rzadkość: {{ card.rarity }}</h4>
             <h4>Klasa: {{ card.class }}</h4>
            <h4>Koszt many: {{ card.costs }}</h4>
            <h4>Koszt utworzenia: {{ card.dust }}</h4>
            <h4>Pakiet: {{ card.expansion }}</h4>
    </div>
</div>

{% endblock %}

