{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">

        {% for deck in decks %}

        <li class="col-xs-3 ">
            <a href="{{ path('deck_viev', {'id':deck.id}) }}"><img style="margin-top:100px;" src="{{ asset('images/P' ~ deck.class ~ '.png') }}"/>
            </a>


            <div class="container col-xs-11">
                <h2>{{ deck.name }}</h2>
            </div>

        </li>
        {% endfor %}

    </div>

{% endblock %}

