{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">

        {% for card in cards %}

        <li class="col-xs-3 ">
            <a href="{{ path('card_viev', {'id':card.id}) }}">
                <img style="margin-top:100px;" src="{{ asset('images/N' ~ card.id ~ '.png') }}"/>
            </a>
        </li>
        {% endfor %}

    </div>

{% endblock %}

