{% extends 'base.html.twig' %}

{% block body %}


        <div class="text-center container">
            <p><h1>HearthStone</h1></p>
            <img src="{{ asset('images/hs.jpg') }}" alt="logo" />
            <p><h2>Wiatamy na stronie związanej z grą karcianą HearthStone.</h2></p>
            <p><h2>Znajdziesz tu najnowsze newsy ze swiata gry, jak i</h2></p>
            <p><h2>wszystkie karty oraz najnowsze talie</h2></p>
        </div>




{% endblock %}

