{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>HEARTHSTONE</h1>

        {% for post in posts %}

            <div>
                <h2><a href="{{ path('post_show', {'id':post.id}) }}">{{ post.title }}</a></h2>

                <p>{{ post.lead }}</p>

            </div>

        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>



{% endblock %}

