{% extends 'base.html.twig' %}

{% block body %}
   <div class="container">

       <h1 xmlns="http://www.w3.org/1999/html">{{ post.title }}</h1>

       <div>
           <p>{{ post.lead }}</p>

           <p>{{ post.content }}</p>

           <span class="">Dodano: {{ post.createdAt|date('H:i d/m/Y') }}</span>

           </hr>

           <h3>Komentarze</h3>

           {% if app.user %}

               {{ form_start(form) }}

               {% form_theme form 'form/bootstrap_3_layout.html.twig' %}
               {{ form_widget(form) }}

               <button class="btn btn-primary pull-right">Dodaj komentarz</button>

               {{ form_end(form)}}

           {% else %}

               <p>Komentarze mogą dodawać tylko zalogowani użytkownicy. <a href="{{ path('fos_user_security_login')}}">Zaloguj się </a></p>

           {% endif %}

           {% for comment in post.comments %}

               <div>
                   <span class="">Dodany: {{ comment.createdAt|date('H:i d/m/Y') }} {% if comment.user %}| przez: {{ comment.user }}{% endif %} </span>
                   <p>{{ comment.content }}</p>
               </div>
               </br>

           {% endfor %}
       </div>

   </div>

{% endblock %}

