{% extends 'base.html.twig' %}

{% block body %}

    <div class="container text-center">
        <p><h1>{{ deck.name }}</h1></p>
    </div>

    <div class="container text-center">
        <p><h3>{{ deck.description }}</h3></p>
    </div>

    <div class="container text-center">
        <p><h3>Karty:</h3></p>

        <div class="row">
            {% for card in deck.cards %}
            <ul style="list-style-type: none">
                <li class="col-md-4 one">
                    <a href="{{ path('card_viev', {'id':card.id}) }}"> <h2>{{ card.Name }}</h2></a>
                </li>
                </ul>

            {% endfor %}
        </div>

    </div>

    <div class="container text-center">
        <p><h3>Oceny:</h3></p>
        <p><h4>Pozytywne: {{ deck.positive }}</h4>{% if app.user %}<a href="{{ path('OP', {'id':deck.id}) }}">Daj plusa</a>{% endif %}</p>
        <p><h4>Negatywne: {{ deck.negative }}</h4>{% if app.user %}<a href="{{ path('ON', {'id':deck.id}) }}">Daj minusa</a>{% endif %}</p>
    </div>

    <div class="container text-center">
        <p><h3>Komnetarze</h3></p>
        {% if app.user %}

            {{ form_start(form) }}

            {% form_theme form 'form/bootstrap_3_layout.html.twig' %}
            {{ form_widget(form) }}

            <button class="btn btn-primary pull-right">Dodaj komentarz</button>

            {{ form_end(form)}}

        {% else %}

            <p>Komentarze mogą dodawać tylko zalogowani użytkownicy. <a href="{{ path('fos_user_security_login')}}">Zaloguj się </a></p>

        {% endif %}

        {% for comment in deck.comments %}

            <div>
                <span class="">Dodany: {{ comment.createdAt|date('H:i d/m/Y') }} {% if comment.user %}| przez: {{ comment.user }}{% endif %} </span>
                <p>{{ comment.content }}</p>
            </div>
            </br>

        {% endfor %}
    </div>


{% endblock %}

