.bar
{
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgba(216, 165, 32, 1);

    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    padding-left: 10%;
}
.bar:after{
    content: " ";
    display: table;
    clear: both;
}

ol
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height:35px;
    line-height: 200%;
    display: block;
}

ol a
{
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding-top:10px;
    padding-bottom:10px;
}
ol span{

}

ol > li
{
    float: left;
    min-width: 130px;
    width: 10.66%;
}

ol > li:hover > a
{
    color: #B7F96C;
}
ol > li > a:hover{
    background-color: #ce990f;
    text-decoration: none;
}

ol > li > ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;

}

ol > li:hover > ul
{
    display: block;

}

ol > li > ul > li
{
    background-color: #cf6969;
    position: relative;
    z-index: 100;
    border-top: 1px dashed #751b1b;
}

ol > li > ul > li > a:hover
{
    color: #451717;
}

.sticky
{
    width:100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.white{
    background: deepskyblue;
}
.container {

    background: white;

}
.text-center{
    margin-top: 115px;
    text-align: left;
}
.card-container{
    max-width: 80%;
    margin: auto;
}
.container:first-child{
    padding-top: 50px;
}
.form-container-fem {
    font-family: sans-serif;
    max-width: 400px;
    width: 90%;
    margin: auto;
    background: white;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 8px 6px -6px #000;
}
.fem-row {
    margin-bottom: 20px;
}
.fem-row:after{
    display: table;
    content: " ";
    clear: both;
}
.fem-row > label {
    floar: left;
    line-height: 42px;
    padding: 0;
}
.fem-row > input[type=text],
.fem-row > input[type=password]{
    float: right;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    max-width: 50%
}
.fem-submit {
    padding: 10px;
    background: #428bca;
    color: #fff;
    border: #428bca;
    width: 50%;
    margin: 20px auto;
    display: block;
    font-size: 16px;
}
ul{
    list-style: none;
}
.one {
    list-style: none;
}